

.buttons{
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  height: 70px;
}

.buttons li{
  list-style: none;
  border: 2px solid black;
  margin-left: 3px;
}

.buttons li a{
  color: black;
  text-decoration: none;
}

.b{
  border: 1px solid rgb(176, 56, 200);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(176, 56, 200);

}
.b h3{

  font-size: 22px;
  color: azure;
}

.top{
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;

}
 
.container1{
   display: flex;
   justify-content: space-around;
   align-items: center;

}



.myself{
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.experience three{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.second{
  display: flex;
  justify-content: stretch;

  flex-direction: row;
}


#person{
  margin-left: 700px;
  height: 300px;
  width: 250px;
}

.three{
list-style: none;
display: flex;
justify-content: flex-start;
align-items: center;

}
.three li{
  padding-left: 20px;
}